body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}
header{
    background-color: #aed0ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
nav > a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
footer{
    background-color: #aed0ff;
    text-align: center;
    padding: 1em;
}
main{
    display: flex;
    margin: auto 10%;
}
.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-home > div{
    width: calc(90% /2);
}
.container-about{
    padding: 1em;
    margin: 0 auto;
    max-width: 1000px;
}
#profile-pic{
    height: 25rem;
    border-radius: 50%;
}
.intro-text{
    font-size: 1.2em;
}
.about-info > p{
    font-size: 1.1em;
}
.about-info-img{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    
}
.about-pic{
    height: 20rem;
    border-radius: 3%;
    flex-wrap: wrap;
}
.container-portfolio{
    padding: 1em;
    margin: 0 auto;
}
.project{
    display: flex;
    align-items: center;
    max-width: 1000px;
}
project-info {
    padding-right: 1em;
}
.project-pic > img {
    height: 20rem;
}