/* Main layout selectors */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}
header{
    background-color: #aed0ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
nav > a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
footer{
    background-color: #aed0ff;
    text-align: center;
    padding: 1em;
}
main{
    display: flex;
    margin: auto;
    padding: auto 3em;
    max-width: 1000px;
}
h2{
    font-size: 2em;
    margin: 0;
    padding-left: 1em;
}
/* Home page selectors */
.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-home > div{
    padding: 1em;
}
.container-home-info > h2{
    margin: 0;
    padding: 0;
}
.container-home-pic{
margin: 0;
}

#profile-pic{
    height: 25rem;
    border-radius: 50%;
}
.intro-text{
    font-size: 1.2em;
}
/* About layout selectors */
.about{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.container-about{
    padding: 1em;
    margin: 0 auto;
   
}
.about-info{
display: flex;
justify-content: space-between;
align-items: center;
gap: 3em;
margin-bottom: 3em;
}
.about-info > p{
    font-size: 1.1em;
}
.about-info-img{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
.about-pic{
    height: 13rem;
    border-radius: 3%;
    flex-wrap: wrap;
}
.about-kermit{
    width: 13em;
    border-radius: 50%;
}
/* Portfolio layout selectors */
.container-portfolio{
    padding: 1em;
    margin-top: 2em;
}
.project{
    display: flex;
    align-items: center;
    max-width: 1000px;
}
project-info {
    padding-right: 1em;
}
.project-pic > img {
    height: 20rem;
}
